@import "tailwindcss";

/* fade-in-up animation */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in-up.is-inview {
  opacity: 1;
  transform: translateY(0px);
}
